.home {
  margin: 10px;
}

.flex {
  display: flex;
  margin-top: 20px;
}

.flex-col {
  margin-left: 20px;
  text-align: start;
}

.pofile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .flex {
    flex-direction: column;
  }
}
